@charset "UTF-8";
/* Cores */
/* Fontes */
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

/* Estilização Global */
body {
  width: 100%;
  height: 100vh;
  background-color: hsl(30, 54%, 90%);
  margin: 0 auto;
  line-height: 1.4;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.receita {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  width: 730px;
  height: auto;
  padding: 2.5rem;
  margin-top: 2rem;
}
.receita__artigo--var {
  width: 100%;
  background-color: hsl(330, 100%, 98%);
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 0.6rem 2rem;
}
.receita__artigo {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.receita__subtitulo--var {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: hsl(332, 51%, 32%);
}
.receita__lista--var {
  list-style-position: outside;
  color: hsl(332, 51%, 32%);
  margin-left: -1rem;
  line-height: 1.7;
}
.receita__li--var {
  color: hsl(30, 10%, 34%);
  padding-left: 1rem;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
}
.receita__li--var::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 400;
  font-size: 0.75rem;
}
.receita__imagem {
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.receita__titulo {
  font-family: "Young Serif", serif;
  font-weight: 500;
  font-size: 2.35rem;
  color: hsl(24, 5%, 18%);
}
.receita__paragrafo {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(30, 10%, 34%);
}
.receita__subtitulo {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: hsl(14, 45%, 36%);
}
.receita__lista {
  list-style: square;
  list-style-position: outside;
  color: hsl(332, 51%, 32%);
  margin-left: -1rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}
.receita__li {
  color: hsl(30, 10%, 34%);
  padding-left: 1.25rem;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
}
.receita__li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 400;
  font-size: 0.7rem;
  padding-left: -0.5rem;
}
.receita__lista--numerada {
  list-style-position: outside;
  color: hsl(332, 51%, 32%);
  margin-left: -1rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}
.receita__li--numerada {
  color: hsl(30, 10%, 34%);
  padding-left: 1.25rem;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
}
.receita__li--numerada::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  padding-left: -0.5rem;
}
.receita__paragrafo--tab {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(30, 10%, 34%);
  margin-bottom: 1.5rem;
}
.receita__tabela {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.receita__th {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(30, 10%, 34%);
  text-align: left;
  padding: 0.5rem 2rem;
  margin-left: 20rem;
}
.receita__td {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: hsl(14, 45%, 36%);
  text-align: left;
  padding: 0.5rem;
}
.receita__tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.receita__tr:nth-child(4) {
  border-bottom: none;
}

@media only screen and (max-width: 576px) {
  body {
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    line-height: 1.4;
  }
  .receita {
    width: 100vw;
    height: auto;
    padding: 0rem;
    margin: 0;
    border-radius: 0;
  }
  .receita__imagem {
    width: 100%;
    border-radius: 0;
  }
  .receita__titulo {
    font-size: 2rem;
    padding: 0 1.5rem 0.75rem 1.5rem;
  }
  .receita__subtitulo {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: hsl(14, 45%, 36%);
  }
  .receita__paragrafo {
    padding: 0 1.5rem 0.75rem 1.5rem;
  }
  .receita__artigo--var {
    width: 80%;
    background-color: hsl(330, 100%, 98%);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.6rem 2rem;
  }
  .receita__artigo {
    width: 80%;
    margin-bottom: 1rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
  }
}/*# sourceMappingURL=styles.css.map */